/*--------------- General Declarations ---------------*/
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/*--------------- Header ---------------*/

.dropdown {
  float: right;
  margin-top: 125px;
  width: 150px;
}

/*--------------- Map ---------------*/

.map {
  background-color: brown;
  height: 500px;
  padding: auto;
}

/*--------------- Cards ---------------*/

.card {
  display: inline-flex;
  margin-top: 10px;
  width: 100%;
}

/*--------------- Sidebar ---------------*/

.countries-table {
  height: 100%;
  width: 100%;
}

/*--------------- Footer ---------------*/

/*--------------- Media Queries ---------------*/

@media screen and (max-width: 575px) {
}
