@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

/*--------------- General Declarations ---------------*/

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/*--------------- Header ---------------*/

.select-countries {
  float: right !important;
  margin-top: 125px !important;
  width: auto !important;
}

.btn-select {
  background-color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}

/*--------------- Map ---------------*/

.map-cases {
  height: 500px;
  background-color: #ffffff;
}

.map .leaflet-container {
  height: 100%;
}

/*--------------- Cards ---------------*/

.card {
  display: inline-flex;
  margin-top: 10px;
  width: 100%;
}

/*--------------- Sidebar ---------------*/

.countries-table {
  width: 100%;
}

.table-wrapper {
  height: 660px;
  overflow-y: auto;
}

.table-header {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 0px;
  position: absolute;
  margin-top: -68px;
  width: auto;
}

thead th {
  background-color: #ffffff;
  position: sticky;
  top: 0;
}
/*--------------- Footer ---------------*/

/*--------------- Media Queries ---------------*/

@media screen and (max-width: 400px) {
  .select-countries {
    float: none !important;
    display: block !important;
    margin: auto auto 15px auto !important;
    width: auto !important;
  }

  .logo {
    margin: auto;
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .table-wrapper {
    margin-top: 55px;
  }

  .table-header {
    margin-top: -40px;
  }
}
